id ICON "icon.ico"

1 24 "manifest.xml"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName", "Car Sharing"
            VALUE "FileDescription", "Car Sharing Application"
            VALUE "FileVersion", "1.0"
            VALUE "InternalName", "car_sharing"
            VALUE "OriginalFilename", "car_sharing.exe"
            VALUE "ProductName", "Car Sharing"
            VALUE "ProductVersion", "1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END 